@using System.Security.Claims
@using Microsoft.AspNet.Authorization
@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<ApplicationRole> _roleManager
@inject SignInManager<ApplicationUser> _signinManager
@inject IAuthorizationService _authorizationService
@{ 
	ViewBag.Title = "Home";
	var user = await _userManager.FindByIdAsync(User.GetUserId());
}

<h1>
	Hello, World!
</h1>
<p>User is authenticated? @User.IsSignedIn()</p>
@if (User.IsSignedIn())
{
	<p>User ID = @user.Id</p>
	<p>User Name = @user.UserName</p>
	<p>User Email = @user.Email</p>
	<h2>User Claims:</h2>
	<ul>
		@foreach (var claim in user.Claims)
		{
			<li>
				Type = @claim.ClaimType, Value = @claim.ClaimValue
			</li>
		}
	</ul>

	<h2>User Roles:</h2>

	<ol>
		@foreach(var role in user.Roles)
		{
			var appRole = await _roleManager.FindByIdAsync(role.RoleId);
			<li>
				<h3>@appRole.Name</h3>
				<p>Role Claims:</p>
				<ul>
					@foreach(var claim in appRole.Claims)
					{
						<li>Type = @claim.ClaimType, Value = @claim.ClaimValue</li>
					}
				</ul>
			</li>

		}
	</ol>
}
